.priceSection {
  background-color: var(--light);
}

.currentPrice {
  background-color: var(--white);
  border-radius: 50px;
  max-width: 400px;
  margin: 0 auto;
}

.currentPriceHeading {
  font-weight: 400;
  font-size: 5em;
}

.trackContainer {
  position: relative; /* Asigură-te că track-ul este poziționat relativ */
  height: 10px;
  display: flex;
  width: 100%;
}

.markContainer {
  position: absolute;
  top: 0; /* Ajustează pentru a poziționa marcajul deasupra track-ului */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mark {
  width: 2px;
  height: 10px;
  background-color: var(--dark);
}

.markLabel {
  margin-top: 5px;
  font-weight: 600;
  font-size: 1em;
  color: var(--dark);
}

.track {
  height: 10px;
  width: 100%;
  border-radius: 100px;
  background: #e6e6e6;
}

.thumb {
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  border-radius: 100px;
  background-color: var(--dark);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 6px solid #fff;
  position: relative;
}

.output {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  background: var(--dark);
  color: #fff;
  border-radius: 100px;
  height: 60px;
  line-height: 60px;
  min-width: 100px;
  padding: 0 20px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.outputArrow {
  position: absolute;
  bottom: -8px;
  left: 50%;
  border: 10px solid var(--dark);
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%);
}

.sliderSection {
  padding: 30px 50px;
  background-color: var(--white);
  border-radius: 30px;
  margin-bottom: 5em;
}


.tabContainer {
  display: flex;
  justify-content: left;
}

.tabs {
  position: relative;
  display: flex;
  background: var(--main);
  border-radius: 25px;
  overflow: hidden;
  width: 600px;
  border: 6px solid var(--main);
}

.tab {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark);
  transition: color 0.3s, font-weight 0.3s ease;
  z-index: 1;
}

.tab.active {
  color: white;
}

.indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 33.33%;
  background-color: var(--dark); 
  border-radius: 25px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.tabContent {
  background-color: var(--white);
  border-radius: 25px;
  padding: 40px
}

.featureCardContainer {
  flex-wrap: wrap;
  gap: 16px;
}

.featureCard {
  line-height: 1.2;
  display: inline-flex;
  flex-shrink: 0; 
  width: auto; 
  min-width: 265px; 
  font-size: 14px;
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--white);
  padding: 8px 20px;
  background-color: var(--dark);
  margin: 8px 8px 0 0;
  height: 70px;
}

.featureCard:hover {
  transform: scale(1.01);
}

.featureCardDisabled {
  background-color: gainsboro;
  color: gray !important;
  filter:opacity(0.5);
}

.featureContent {
  display: flex;
  align-items: center;
}

.iconContainer {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 10px;
}

.icon {
  font-size: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.featureTitle {
  font-size: 16px;
  margin: 0;
}

.featureDescription {
  font-size: 12px;
  margin: 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modalOverlay.show {
  visibility: visible;
  opacity: 1;
}

.modalOverlay.show > body {
  overflow: hidden;
}

.modalContent {
  position: relative;
  background-color: var(--light);
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  max-height: 600px;
  padding: 20px;
  border-radius: 10px;
  transform: translateY(-50px);
  transition: transform 0.3s ease;

}

.modalBody { 
  background-color: var(--white);
  overflow-y: auto;
  max-height: 500px;
  padding: 20px 10px;
  margin-top: 40px;
  border-radius: 25px
}

.modalContent.slideIn {
  transform: translateY(0);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #000;
}

.infoButton {
  margin: 0;
  background: transparent;
  color: var(--dark);
  border: none;
  padding: 5px 15px;
  border-radius: 25px;
  border: 2px solid transparent;
}

.infoButton:hover {
  border: 2px solid var(--dark);
  color: var(--dark);
}