.mainSection h1 {
  font-weight: 900;
}

.customCard {
  border-radius: 15px; /* Marginile rotunjite ale cardului */
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.customCard .card-body {
  padding: 0;
}

.customCard:hover {
  background-color: #f0f0f0; /* Schimbă culoarea de fundal la hover */
}

.roundedImage {
  border-radius: 15px; /* Marginile imaginii să se potrivească cu cardul */
  width: 100%;
}